<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>BG-hd.pvr.ccz</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{960,492}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{960,492}}</string>
                <key>sourceSize</key>
                <string>{960,492}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>BG-hd.pvr.png</string>
            <key>size</key>
            <string>{964,496}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2704ce5a32da22dca26b3cefcc3f2175:ee129305e2dcbdcab37119499653f795:d0e515cd79328ffa906ca84f52694fda$</string>
            <key>textureFileName</key>
            <string>BG-hd.pvr.png</string>
        </dict>
    </dict>
</plist>
