<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>NT3_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,2},{252,246}}</string>
                <key>offset</key>
                <string>{5,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,5},{252,246}}</string>
                <key>sourceSize</key>
                <string>{330,260}</string>
            </dict>
            <key>NT4_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,2},{198,242}}</string>
                <key>offset</key>
                <string>{2,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,4},{198,242}}</string>
                <key>sourceSize</key>
                <string>{330,260}</string>
            </dict>
            <key>NT5_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{276,248}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,4},{276,248}}</string>
                <key>sourceSize</key>
                <string>{330,260}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Items05-hd.pvr.png</string>
            <key>size</key>
            <string>{739,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:688e51fb76c61cbf345bab7a475e6c98:df09a713cb401b329fdf2be1f4fb56c1:fdedb2f8a1d0894b939a8fb555678b55$</string>
            <key>textureFileName</key>
            <string>Items05-hd.pvr.png</string>
        </dict>
    </dict>
</plist>
